@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container" id="dvContainer"></div>
    <div class="container" id="dvContainer1"></div>
</div>
